# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*



backend/__pycache__/
backend/__pycache__/*
backend/routes/__pycache__/
backend/routes/__pycache__/*

backend/llamavision/ggml-org_SmolVLM-500M-Instruct-GGUF_mmproj-SmolVLM-500M-Instruct-Q8_0.gguf
/backend/llamavision/ggml-org_SmolVLM-500M-Instruct-GGUF_SmolVLM-500M-Instruct-Q8_0.gguf

# Python cache files
backend/*.pyc
# Python virtual environment
backend/venv/
# Python cache directories
backend/.pytest_cache/
# Python bytecode files
# Jupyter Notebook checkpoints
backend/.ipynb_checkpoints/

backend/detection_images
backend/detection_images/*

backend/yolov8n.pt
backend/yolov8s.pt

# find this __pycache__ folder and where it is, jus ignore it here

# Ignore all __pycache__ directories
backend/__pycache__/
# Ignore all files in __pycache__ directories
backend/__pycache__/*
# Ignore all __pycache__ directories in the backend directory
# Ignore all files in __pycache__ directories in the backend directory
# Ignore all __pycache__ directories in the backend/routes directory
backend/routes/__pycache__/ 

backend/dataset/*

runs/*

backend/static/detections/*
backend/static/*